* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      to bottom,
      #145277,
      #24718f,
      #3d90a5,
      #5eb0b9,
      #83d0cb
    )
    no-repeat;
}

#container {
  height: 100%;
  width: 100%;
  background: url(/img/Mass\ Circles.svg);
  top: 30rem;
}

/* nav bar */

.cat-logo {
  margin: 10px 0 0 10px;
  border-radius: 50%;
  height: 7rem;
  background: #625079b9;
  box-shadow: rgb(0, 0, 0) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0) 0px 8px 16px -8px;
}

.logos h2 {
  margin: 1rem;
  color: #fff;
}

.cloud {
  position: absolute;
  bottom: 400px;
  width: 100%;
  height: 30rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #fff;
}

nav h2 {
  text-shadow: 2px 2px 4px #000000;
}

nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

ul {
  margin: 3rem;
  display: flex;
  list-style: none;
}

li {
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
}

.home {
    text-decoration: none;
    color: #fff;
}
/* header */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #fff;
  border-radius: 20px;
  width: 60rem;
  margin: auto;
  margin-top: 8rem;
  padding-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.girl-reading {
  width: 35rem;
  padding-left: 3rem;
}

form {
  position: absolute;
  left: 60%;
  top: 95%;
}

.search {
  border: none;
  background: #427aa1;
  height: 2.5rem;
  width: 16rem;
  border-radius: 8px;
  box-shadow: rgb(167, 204, 211) 0px 10px 10px;
  color: #fff;
  font-size: large;
  font-weight: bold;
  padding: 10px;
}

.search-btn {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  left: 85%;
  top: 20%;
  cursor: pointer;
}

/* books sec */

.slider {
  overflow: hidden;
}

#cards {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
   display: flex;
   width: calc(120px * 18);
}

.card1 {
  width: 100%;
  color: #fff;
  height: auto;
  border: 3px solid #e1e5f2;
  border-radius: 12px;
  text-align: center;
  margin: 10rem 1rem;
  align-items: center;
  justify-content: center;
  perspective: 100px;
  animation: scroll 50s linear infinite;
}

.card1:hover {
  animation-play-state: paused;
}

/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
} */


.img1 {
  height: 24rem;
  width: 100%;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.7s ease;
}

.img1:hover{
  transform: translateZ(20px);
}
/* .card1:hover .bi-star{
    opacity: 1;
}
.card1:hover .more-bttn{
    opacity: 1;
} */


.bi-star {
  font-size: 5rem;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  color: #acf8f3;
  opacity: 1;
  transition: 0.7s ease;
}

.more-bttn {
  /* display: none; */
  border: none;
  border-radius: 6px;
  width: auto;
  padding: 5px;
  position: absolute;
  top: 85%;
  right: 4px;
  background: #83d0cb;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
  opacity: 1;
  transition: 0.7s ease;
  color: #fff;
}

/* footer */

footer {
  height: 5rem;
  background: #05668d86;
}

footer p {
  padding-top: 25px;
  text-align: center;
  font-size: larger;
}
