* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      to bottom,
      #145277,
      #24718f,
      #3d90a5,
      #5eb0b9,
      #83d0cb
    )
    no-repeat;
}

#container {
  height: 100%;
  width: 100%;
  background: url(/img/Mass\ Circles.svg);
  
}

/* nav bar */

.cat-logo {
  margin: 30px 0 0 6rem;
  border-radius: 50%;
  height: 5rem;
  background: #5eb0b9;
  box-shadow: rgb(0, 0, 0) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0) 0px 8px 16px -8px;
}

.logos h2 {
  /* margin: -2rem 0 0 4rem; */
  color: #4088b1;
  font-weight: bolder;
}

nav {
  position: fixed;
  height: 8rem;
  bottom: 30rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #5eb0b9;
  background: #fff;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ul {
  margin: 3rem;
  display: flex;
  list-style: none;
}

li {
  padding: 20px;
  font-weight: bold;
  font-size: larger;
}

li a {
    text-decoration: none;
    color: #5eb0b9;
}

.bi-heart-fill {
  cursor: pointer;
}

li:hover {
  height: 3.5rem;
  background: #145277;
  border-radius: 10px;
}

a:hover {color: #fff;}
/* search sec */

.search-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background: #fff; */
  background: linear-gradient(150deg, rgba(255, 255, 255, 0.5), rgb(255, 255, 255, 0.1));
  border-radius: 20px;
  width: 60rem;
  margin: 10rem;
  
  padding-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.girl-reading {
  width: 35rem;
  padding-left: 3rem;
}

form {
  position: absolute;
  left: 60%;
  top: 95%;
}

.search {
  border: none;
  background: #427aa1;
  height: 2.5rem;
  width: 16rem;
  border-radius: 8px;
  box-shadow: rgb(167, 204, 211) 0px 10px 10px;
  color: #fff;
  font-size: large;
  font-weight: bold;
  padding: 10px;
}

.search-btn {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  left: 85%;
  top: 20%;
  cursor: pointer;
}

/* books sec */

.slider {
  overflow: hidden;
}

#cards {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
   display: flex;
   width: calc(120px * 18);
}
.sec-title {
  color: #fff;
  display: flex;
}

.card1 {
  width: 100%;
  color: #fff;
  height: auto;
  border: 3px solid #e1e5f2;
  border-radius: 12px;
  text-align: center;
  margin: 10rem 1rem;
  align-items: center;
  justify-content: center;
  perspective: 100px;
  animation: scroll 50s linear infinite;
}

.card1:hover {
  animation-play-state: paused;
}

/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
} */


.img1 {
  height: 24rem;
  width: 100%;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.7s ease;
}

.img1:hover{transform: translateZ(20px);}

.card1:hover .more-bttn{
    opacity: 1;
    transform: translateZ(2px);
    /* top: 85%;
    right: 0; */
} 

.more-bttn {
  border: none;
  border-radius: 6px 0 0 6px;
  width: auto;
  padding: 5px;
  position: absolute;
  top: 85%;
  right: 0;
  background: #83d0cb;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
  opacity: 0;
  color: #fff;
}

/* description section */

.fav-sec {
  background: linear-gradient(150deg, rgba(255, 255, 255, 0.5), rgb(255, 255, 255, 0.4));
  border-radius: 20px;
  width: 60rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem;
  padding: 5rem;
  color: #24637c;
  font-weight: bold;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img{
   height: 25rem;
   width: 18rem;
   margin-bottom: 5rem;
   border-radius: 20px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 18px;
}
.fav-sec i {
  cursor: pointer;
}

.bi-star:active  {
  transition: 0.7s ease;
}

.bi-star, .bi-star-fill {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: bolder;
  /* position: absolute;
  top: 50%; */
  color: #EBF2FA;
  transition: 0.7s ease;
}

/* footer */

footer {
  height: 5rem;
  background: #05668d86;
}

footer p {
  padding-top: 2.5rem;
  text-align: center;
  font-size: larger;
}
