* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  height: 100%;
  width: 100%;
  background: url(/img//Mass\ Circles2.svg);
}

/* nav bar */

.cat-logo {
  position: absolute;
  top: 16%;
  right: 85%;
  border-radius: 50%;
  height: 5rem;
  background: #fff;
  box-shadow: rgb(0, 0, 0) 0px 10px 15px -5px,
    rgba(255, 255, 255, 0) 0px 8px 16px -8px;
}

nav {
  position: fixed;
  height: 7rem;
  bottom: 30rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #5eb0b9;
  background: linear-gradient(
      to bottom,
      #145277,
      #24718f,
      #3d90a5,
      #5eb0b9,
      #83d0cb
    )
    no-repeat;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #fff;
}

ul {
  margin: 1.5rem;
  display: flex;
  list-style: none;
}

li {
  padding: 22px;
  font-weight: bold;
  font-size: larger;
}

li a {
  text-decoration: none;
  color: #fff;
}

a:hover,
.bi-heart-fill:hover {
  color: #145277;
  cursor: pointer;
}

/* search sec */

.search-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.5),
    rgb(255, 255, 255, 0.1)
  );
  border-radius: 20px;
  width: 60rem;
  margin: 10rem;
  padding-top: 4rem;
  box-shadow: #145277 0px 5px 18px;
}

.girl-reading {
  width: 35rem;
  padding-left: 3rem;
}

form {
  position: absolute;
  left: 60%;
  top: 67%;
}

.search {
  border: none;
  background: #427aa1;
  height: 2.5rem;
  width: 16rem;
  border-radius: 8px;
  box-shadow: rgb(167, 204, 211) 0px 10px 10px;
  color: #fff;
  font-size: large;
  font-weight: bold;
  padding: 10px;
}

.search-btn {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  left: 85%;
  top: 20%;
  cursor: pointer;
}

/* books sec */

.slider {
  overflow: hidden;
}

#cards {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 20rem;
  display: flex;
  margin: 10rem 0;
  width: calc(180px * 18);
  animation: scroll 50s linear infinite;

}
.sec-title {
  color: #427aa1;
  display: flex;
  position: absolute;
  bottom: -40%;
  left: 33%;
  font-size: 4em;
}

.card1 {
  width: 100%;
  color: #fff;
  /* border: 3px solid #83d0cb; */
  border-radius: 12px;
  text-align: center;
  margin: 10rem 1rem;
  align-items: center;
  justify-content: center;
  perspective: 100px;

}

#cards:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

.img1 {
  height: 24rem;
  width: 100%;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.7s ease;
  border: 3px solid #83d0cb;
}

.img1:hover {
  transform: translateZ(10px);
}

.card1:hover .more-bttn {
  opacity: 1;
  transform: translateZ(2px);
}

.more-bttn {
  border: none;
  border-radius: 6px 0 0 6px;
  width: auto;
  padding: 5px;
  position: absolute;
  top: 85%;
  right: 0;
  background: #83d0cb;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
  opacity: 0;
  color: #fff;
}

/* description section */

.fav-sec {
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.5),
    rgb(255, 255, 255, 0.4)
  );
  border-radius: 20px;
  width: 60rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem;
  padding: 5rem;
  color: #24637c;
  font-weight: bold;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fav-sec h1 {
  margin-bottom: 4rem;
}
.img {
  height: 25rem;
  width: 18rem;
  margin-bottom: 3rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 18px;
}
.fav-sec i {
  cursor: pointer;
}

.bi-star:active {
  transition: 0.7s ease;
}

.bi-star,
.bi-star-fill {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: bolder;
  color: #83d0cb;
  transition: 0.7s ease;
}

/* fav sec */
.fav-list {
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.5),
    rgb(255, 255, 255, 0.4)
  );
  border-radius: 20px;
  width: 65rem;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 10rem;
  padding: 10rem 3rem;
  color: #24637c;
  font-weight: bold;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fav-title {
  position: absolute;
  top: 35%;
  font-size: 3rem;
}

.fav-imgs {
  height: 20rem;
  width: 14rem;
  margin: 3rem;
}

/* footer */

footer {
  height: 4rem;
  background: #05668d86;
}

footer p {
  padding-top: 1.5rem;
  text-align: center;
  font-size: larger;
}
