<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
  />
    <link rel="stylesheet" href="/styles/contact.css">
    <title>Contact us</title>
</head>
<body>
    <div id="container">
        <nav>
            <div class="logos">
              <img
                src="/img/Black_Witchs_Cat_Reading_Book-removebg-preview.png"
                alt="logo"
                class="cat-logo"
              />
            </div>
            <ul>
              <li><a href="/home.html" class="home">Home</a></li>
              <li><a href="/view/about.html">About us</a></li>
              <li><a href="/view/contact.html">Contact us</a></li>
            </ul>
          </nav>
          <img src="/img/Letter_re.svg" alt="" class="img-letr">
          <form>
              <h1>Send Us a Massege</h1>
              <input type="text" name="" id="text-inp" placeholder="Enter Your Name Here">
              <textarea name="" id="text-erea" cols="30" rows="15" placeholder="Enter Your Massege Here"></textarea>
              <button>Send</button>
            </form>
              <footer>
              <p>Copyrights &copy; <span style="color: #fff">Rabab Yousef</span></p>
            </footer>  
    </div>
</body>
</html>